name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      UV_NO_SOURCES: true  # ignore [tool.uv.sources], use PyPI. See README-DEV.md
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
          # should not enable-cache for act (usage: ACT=true act -j server)
          enable-cache: ${{ env.ACT != 'true' }}
          cache-local-path: ".cache/uv"

    - name: Install dependencies
      run: |
        uv sync --dev

    - name: Lint with ruff
      id: lint
      run: uv run ruff check .

    - name: Unit Test
      id: test
      run: uv run ./run_tests.sh
